*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 30%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}